---
import Layout from "@/layouts/main-layout.astro";
import FAQ from "@/components/examples/faq-section";
import CarouselDemo from "@/components/examples/carouselcard";
---

<Layout>
<main>
<h1>Components</h1>
<CarouselDemo client:idle />
<!--	
	<FAQ client:idle />
-->
	
</main>
</Layout>
