---
import MainLayout from "@/layouts/main-layout.astro";

import { Button } from "@/components/ui/button";
import { buttonVariants } from "@/components/ui/button"
import { Link } from "@/components/ui/button"


---
<MainLayout
  title="FAQ"
  description="Frequently Asked Questions"
  mainClass="min-h-screen container max-w-screen-md py-10"
>
<Button variant="outline">Button</Button>
<Link className={buttonVariants({ variant: "outline" })}>Click here</Link>


</MainLayout>
